/*
 Theme Name:   Cedexis 2017 Theme
 Theme URI:    http://cedexis.com/
 Description:  Cedexis theme based on Enfold
 Author:       Lion's Way
 Author URI:   http://lionswaycontent.com/
 Template:     enfold
 Version:      2017.11
 License: Themeforest Split Licence
 License URI: -
*/


/* Events pages are styled in assets/css/events.css WPEngine No Access To File*/

/*font-stacks*/
.museo-sans { font-family: museo-sans, Arial, sans-serif; }

header#header #header_main {
   /* border-bottom-color: #87888c !important; */
   border-bottom: 0px;
}

/* Header transparency */
#top #wrap_all header#header.av_header_transparency {
   background-color: rgba(0, 0, 0, 0.6);
}

/* Header width control */
@media only screen and (max-width: 1250px) {
   #header_main .container {
      width: 99%;
   }
}

@media only screen and (min-width: 1251px) {
   #header_main .container {
      width: 80%;
   }
}

/* Button border */
#top .main_color a.avia-button {
   border: 1px solid #ffffff;
}

h1, h2, h3 {
   text-transform: none !important;
}

.avia-button.avia-size-large {
   font-size: 16px;
}

form#searchform #searchsubmit {
   background-color: #ffffff;
   color: #e36e28;
}

form#searchform #s {
   background-color: #ffffff;
   border-color: #ffffff;
}

form#searchform {
   border: 1px solid #e36e28;
}

.socket_color_feature {
   background-color: #e36e28;
   color: #ffffff;
}

/* Seems to be left out of other customizations for some reason. */
#top .av_inherit_color h3 {
   font-size: 40px;
   font-weight: lighter;
}

#footer h3.widgettitle {
   font-size: 20px!important;
   font-weight: bold!important;
   text-transform: lowercase!important;
}

#footer ul#menu-policies {
   padding-top: 16px;
}

#footer ul#menu-policies a {
   color: #e36e28;
}

/************************ Customize legacy pages ******************************/
/*div.main_color:first-of-type {
   background-image: url(images/background-images/cedexis-2017-bg.jpg);
}*/

/************************ Orange Header for Events Page LD ************************/
div #main .events-main {
   background-color: #e36e28 !important;
}

div .template-events-title {
font-size:34px;
color: #ffffff;
font-style: regular;
line-height: 38px;

}

/************************ Orange Hero Banner Text ************************/

.hero_title {

font-size:34px !important;
color: #ffffff !important;
font-style: regular !important;
line-height: 38px !important;
padding-bottom: 20px !important;
}

.hero_subtext {
font-size: 22px !important;
color: #ffffff !important;
font-style: regular !important;
line-height: 26px !important;

}


/*********** customize image borders on partners page LD *****************/

.partners_image_box {
border-style: solid !important;
border-color: #c2c2c2 !important;
Width: 187px !important;
Height: 122px !important;
}

/************************ Customize blog ******************************/
#top h2.post-title a {
   color: rgb(65, 78, 94);
}

#top .post-meta-infos .minor-meta {
   color: rgb(65, 78, 94);
}

#top .post-meta-infos .minor-meta a {
   color: #e36f27;
}

#blog-ctas {
   padding-top: 85px;
   text-align: center;
}

#blog-ctas .blog-cta {
   margin-bottom: 10%;
}

#blog-ctas a.blog-cta-button {
   color: #ffffff;
   background-color: rgb(0, 169, 161);
}

#top #wrap_all .all_colors h1.entry-title {
   color: rgb(227, 111, 39);
   font-size: 30px;
}

.related_posts .related_entries_container .av-related-title {
    display: inherit;
}

.widgettitle {
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 1.1em !important;
}


/************************ Customize navigation ******************************/
/* From UberMenu docs */
.av_main_nav_header.av_menu_right #header_main .main_menu-uber{ 
  clear:none; 
  z-index: 100; 
  line-height:30px; 
  height:100%; 
  margin:0; 
  float:right;
}
 
.av_main_nav_header.av_menu_left #header_main .main_menu-uber{
  clear:none; 
  position: absolute; 
  z-index: 100; 
  line-height:30px; 
  height:100%; 
  margin:0; 
  left:0;
  right:auto; 
}
 
/* Menu left or right, slim */
.av_main_nav_header .main_menu-uber .ubermenu .ubermenu-item-level-0 > .ubermenu-target{
  padding-top:36px;
  padding-bottom:36px;
}
  
/* Menu left or right, large */
.av_main_nav_header.av_large .main_menu-uber .ubermenu .ubermenu-item-level-0 > .ubermenu-target{
  padding-top:50px;
  padding-bottom:50px;
}
  
/* Menu left or right, scrolled  */
.av_main_nav_header.header-scrolled .main_menu-uber .ubermenu .ubermenu-item-level-0 > .ubermenu-target{
  padding-top:14px;
  padding-bottom:14px;
}
 
.ubermenu #menu-item-search{
  display:none;
}



/* Main menu lowercase */
.ubermenu-main .ubermenu-target-title {
   text-transform: lowercase;
}

/* Responsive menu hamburger */
.ubermenu-responsive-toggle i.fa-bars {
   font-size: 24px;
}


#header_main,
#header_main .main_menu-uber .ubermenu{
  border-top:none;
}
 
#header_main_alternate{
  display:block !important;
}
#header_main_alternate .main_menu-uber{
    position:relative;
}
 
.av_bottom_nav_header #header_main,
.av_bottom_nav_header #header_main_alternate{
  border-bottom:none;
}
 
@media screen and (max-width:900px){
  #header_main .logo,
  #header_main .main_menu-uber{
    position:relative;
    clear:both;
  }
  #header_main_alternate{
    display:block !important;
  }
  #advanced_menu_toggle{
    display:none !important;
  }
 
}
  
/* Responsive Menu */
@media only screen and (max-width: 899px) {
   .ubermenu .ubermenu-item-level-0 > .ubermenu-target{
      padding-top:15px !important;
      padding-bottom:15px !important;
   }

   a.ubermenu-responsive-toggle {
      background-color: inherit!important;
      color: #ffffff!important;
   }

   /* Responsive language switcher */
   .ubermenu-main li.ubermenu-item.ubermenu-item-level-0.menu-item-language {
      clear: none;
      width: auto;
      min-width: 5%;
   }

   /* Responsive menu buttons */
   li#menu-item-21196,
   li#menu-item-21197 {
      clear: none;
      min-width: auto;
      width: 50%;
   }

}
 
@media only screen and (max-width: 801px) {
  .av_main_nav_header.av_menu_right #header_main .main_menu-uber{
    position:relative;
  }
  .av_main_nav_header.av_menu_right .ubermenu.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target{
    padding-top:15px;
    padding-bottom:15px;
  }
}

#top .ubermenu-searchform,
#top .ubermenu .ubermenu-search-input{
    margin:0;
}

/*********************************************
 ****** Nav customization for Cedexis ********
 *********************************************/
nav.ubermenu-main .ubermenu-target-with-image .ubermenu-target-title {
   font-size: 16px;
   font-weight: regular;
}

nav.ubermenu-main .cedexis-menu-header .ubermenu-target-title {
   font-size: 16px;
   color: rgb(0, 0, 0);
}

.ubermenu-main li.menu-item-language a {
   padding-left: 2px;
   padding-right: 2px;
}
 
/* Sign Up & Login Buttons */
#menu-item-21552 .ubermenu-target-text,
#menu-item-21553 .ubermenu-target-text,
#menu-item-21196 .ubermenu-target-text,
#menu-item-21197 .ubermenu-target-text{  
   color: white;
   border: 1px solid #ffffff;
   padding: 6px 20px;
   border-radius: 3px 3px 3px 3px;
   font-weight: normal;
   height: 30px;
   line-height: 19px;
   /*margin-left: 19px;*/
}

#menu-item-21553 .ubermenu-target-text,
#menu-item-21196 .ubermenu-target-text{  
   background-color: #e36e28;
}

@media only screen and (min-width: 960px) {
   #menu-item-21553 a,
   #menu-item-21196 a {
      padding-left: 0px;
   }
}

/* Bottom nav */
#footer .menu-solutions-container .cedexis-menu-header a {
   color: #414e5e;
   font-size: 14px;
   font-weight: bold;
   padding-top: 16px;
}

#footer .menu-privacy-container,
#footer .menu-policies-container {
   text-align: right;
}

#footer .menu-about-container li.menu-item-has-children > a {
   color: #414e5e;
   font-size: 20px;
   font-weight: bold;
   padding-top: 16px;
   text-transform: lowercase;
}

#footer .menu-about-container li.menu-item-has-children ul.sub-menu {
   list-style: none outside;
}

#footer .menu-about-container li.menu-item-has-children ul.sub-menu a {
   padding-left: 0px;
}

/* Individual page elements */
div#cedexishero {
   background-color: #414e5e;
}

#top #cedexis-other-features h3 {
   color: #ffffff;
}

#top #cedexis-other-features .avia_textblock {
   color: #ffffff;
}

#radar_counter_row div.av-content-full {
   padding-top: 0px;
   padding-bottom: 0px;
}

#radar_counter_row .avia-color-font-light {
   color: #ffffff;
}

#radar_counter_row .avia-no-number {
   color: #ffffff;
   font-weight: lighter;
   opacity: 1.0;
}

#radar_counter_row .avia-animated-number-title {
   color: #ffffff;
   white-space: normal;
   font-weight: lighter;
}

#radar_counter_row .avia-animated-number-content p {
   margin-top: 0px !important;
   font-size: 16px;
}

/* Openmix progress bar color */
.green-bar .bar {
   background: #00a9a0;
}

/* Legacy Resources page */
#top h3.grid-entry-title.entry-title {
    font-size: 25px !important;
}

/* Legacy Careers page */
#whr_embed_hook ul.whr-items li h3 a {color:#00b2a9;font-size:28px;}
#whr_embed_hook ul.whr-items li ul.whr-info {float: left; width: 100%; margin-left: 0px;}
#whr_embed_hook ul.whr-items li ul.whr-info li{float:left;}
#whr_embed_hook ul.whr-items li ul.whr-info li span{font-weight:500; color:#919cab; font-size:15px;}
#whr_embed_hook ul.whr-items li ul.whr-info li{margin-right: 12px; list-style: none; color: #A6AAB0; font-weight: 300; margin-left:0px; font-size:14px;}
#whr_embed_hook ul.whr-items li {list-style:none;} 
.open-positions h4{font-size:14px;}

/* Blog page styling */
body .sidebar .social-media li { margin-bototm: ; }

body .sidebar .social-media li {margin-bototm: ; }

.social-media li:last-child a {
   -moz-border-radius-bottomleft: 3px;
   -webkit-border-bottom-left-radius: 3px;
   border-bottom-left-radius: 3px;
   -moz-border-radius-bottomright: 3px;
   -webkit-border-bottom-right-radius: 3px;
   border-bottom-right-radius: 3px;
}

body .sidebar .social-media li a { font-size: 15px; color: white; padding-left: 38px;} 

body .sidebar .social-media li.twitter a { background: #00b2a9 url(images/social-twitter.png) no-repeat 5px 9px ;}

body .sidebar .social-media li.facebook a { background: #1383c0 url(images/social-facebook.png)no-repeat 5px 9px; }

body .sidebar .social-media li.linkedin a { background: #0f6798 url(images/social-linkedin.png) no-repeat 5px 9px; }

body .sidebar .social-media li.rss a { background: #d5721a url(images/social-rss.png) no-repeat 5px 9px; }

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 901px) {
  /* Add your Desktop Styles here */

   .avia_textblock h2 {
      font-size: 48pt;
   }

   #cedexishero .av_textblock_section {
      margin-top: auto;
      margin-bottom: 100px;
   }
   
   #cedexishero .avia_textblock {
      padding-top: 5%;
      padding-bottom: 3%;
      max-width: 50%;
   }

   #cedexishero .home-hero-header .avia_textblock {
      max-width: 100%;
      padding-top: 2%;
      padding-bottom: 20%;
   }

   #cedexishero h1 {
      font-size: 95pt;
   }

   #cedexishero h2 {
      font-size: 38pt;
   }

   div#cedexishero {
      background-position: center center !important;
      background-size: 100% auto !important;
   }

   h1.hero {
      font-size: 5.0em;
   }

   h2.hero {
      font-size: 2.3em;
   }
   
   /** Legacy pages */
   div.main_color:first-of-type .container {
      max-width: 80%;
   }

}

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 899px) {
  /* Add your Mobile Styles here */

   #cedexishero .av_textblock_section {
      margin-top: auto;
   }

   #cedexishero h1 {
      font-size: 1.6em !important;
   }

   #cedexishero h2 {
      font-size: 14px;
   }

   #cedexishero .hr-invisible {
      display: none;
   }

   #top #wrap_all .all_colors div.ls-l h1.hero {
      font-size: 6.4em;
   }

   #top #wrap_all .all_colors div.ls-l h2.hero {
      font-size: 4.0em;
   }

   div#cedexishero {
      background-position: top center !important;
      background-size: 100% auto !important;
   }

   /* Try to control the logo */
   #top strong.logo {
      float: left !important;
      width: auto !important;
   }
}

/* Temporary: disable language switcher */
.av-language-switch-item {
   display: none;
}


/* Executive Team Page Mods */
.exec_block {
color: #ffffff;
font-size: 1.3em;
line-height:1.1em !important;
width: 195px;
height: 220px;
background-color: #848484;
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}

.exec_img_block {
width: 195px;
height: 100%;
background-color: #848484;
}

.exec_title_text_block {
color:#333333;
font-size: 1.1em;
line-height:1.1em !important;
}

.exec_name{
color:#333333;
font-size: 16px;
font-weight: bold;
line-height: 32px;
text-align:center;
}
.exec_job_title{
color:#333333;
font-size: 14px;
font-style: normal;
line-height: 21px;
text-align:center;
}



/* LD menu Login Buttons */
#menu-item-22579 .menu-image-title {
   color: white;
   border: 1px solid #ffffff !important;
   padding: 6px 15px;
   border-radius: 3px 3px 3px 3px;
   font-weight: normal;
   height: 30px;
   line-height: 19px;
   /*margin-left: 19px;*/
}

/* LD menu Login Buttons for mobile */
@media screen and (max-width:899px)
{
#menu-item-22579 .menu-image-title {
   color: #000000;
   border: 1px solid #000000!important;
   padding: 6px 15px;
   border-radius: 3px 3px 3px 3px;
   font-weight: normal;
   height: 30px;
   line-height: 19px;
   /*margin-left: 19px;*/
}
}

/* LD menu contact Button */
#menu-item-22611 .menu-image-title
{  color: white;
   border: 1px solid #ffffff !important;
   padding: 6px 15px;
   border-radius: 3px 3px 3px 3px;
   font-weight: normal;
   height: 30px;
   line-height: 19px;
   background-color: #e36e28;
}

/* LD format category text in menu */
@media screen and (min-width:900px)
.menusubcat {
font-size: 20px !important;
font-color: #4b4b4b !important;
font-weight: bold !important;
letter-spacing: 1px;
}

/* LD format category text in menu */
@media screen and (max-width:899px)
.menusubcat {
font-size: 16px !important;
font-color: #4b4b4b !important;
font-weight: bold !important;
letter-spacing: 1px;
}

.menucattitle
@media screen and (min-width:900px)
{
color:#4b4b4b !important;
font-size:20px;
font-weight: 600 !important;
line-height: 21px;
text-align:center;
}

.menucattitle
@media screen and (max-width:899px)
{
color:#4b4b4b !important;
font-size:18px;
font-weight: 600 !important;
line-height: 21px;
text-align:center;
}

/* LD format subtext spacing text in menu*/
.menu-image-title{
letter-spacing: 1px;
}

/* LD force background and menu text colors*/

.menu-image-title-after a:hover {
background:#e36f27 !important;
color:#ffffff !important;
} 

/* LD force toggle to hide main menu when tablet or mobile*/
@media only screen and (max-width: 900px) {
nav.main_menu {display:none !important;}
#advanced_menu_toggle, #advanced_menu_hide {display:block !important;}
}


/* LD align text within mobile menu to left */
@media screen and (max-width: 899px)
#responsive-menu-container, #responsive-menu-container:before, #responsive-menu-container:after, #responsive-menu-container *, #responsive-menu-container *:before, #responsive-menu-container *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-align:left !important;
}

/* LD sets hamburger menu to black bg with wht icon in nav */

@media only screen and (max-width: 899px) {
#top #wrap_all .av_header_transparency, .av_header_transparency #advanced_menu_toggle {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-color: #dbdbdb;}
}

/* LD when mobile menu is open toggles ham to black bg white icon */

a#advanced_menu_hide
{
#top #wrap_all .av_header_transparency, .av_header_transparency #advanced_menu_toggle {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-color: #dbdbdb;}
}

/* LD within mobile menu the background is white and ham icon colors are reversed*/

#advanced_menu_hide {
    background-color: #ffffff!important;
    color: #000000!important;
    border-color: #dbdbdb;
}


