div.template-events {
   border: none;
}

div#main.events-main {
   background-color: #01b7ab;
}

#press-and-news a {
   color: #e36e28;
}

#press-and-news {
   padding: 3.75em 0 3.75em;
   background-color: #ffffff;
}

#press-and-news #events-news-list {
   position: relative;
   padding-right: .9375em;
   float: left;
}
#press-and-news #events-news-list h3 {
   border-bottom: solid 1px #edf0f3;
   margin-bottom: 0;
   padding-bottom: .375em;
}

#press-and-news #events-news-list ul.events-calendar,
#press-and-news #events-news-list ul.press-calendar {
   list-style-type: none!important;
   list-style-position: inside;
}
#press-and-news #events-news-list .events-calendar li,
#press-and-news #events-news-list .press-calendar li {
   padding: 0 .9375em 0 .9375em;
   position: relative;
}
#press-and-news #events-news-list .events-calendar > li:nth-of-type(1n+1),
#press-and-news #events-news-list .press-calendar > li:nth-of-type(1n+1) {
   clear: both;
}
#press-and-news #events-news-list .press-calendar.events-calendar p {
   margin: 0 0 0 100px;
}
.press #press-and-news .news .press-calendar.events-calendar p { margin: 0 0 0 60px; }

#press-and-news #events-news-list .events-calendar p .event-dates,
#press-and-news #events-news-list .events-calendar p .press-dates,
#press-and-news #events-news-list .press-calendar p .event-dates,
#press-and-news #events-news-list .press-calendar p .press-dates {
   display: block;
   text-align: right;
   position: absolute;
   left: -110px;
   top: .75em;
   width: 100px;
}
#press-and-news #events-news-list .events-calendar p a,
#press-and-news #events-news-list .press-calendar p a {
    font-size: 14px;
}
#press-and-news #events-news-list .events-calendar p,
#press-and-news #events-news-list .press-calendar p {
   margin: 0 0 0 60px;
   padding: .75em 0 .75em .9375em;
   position: relative;
   border-left: solid 1px #edf0f3;
}
#press-and-news #events-news-list .events-calendar p strong.event-start-date,
#press-and-news #events-news-list .events-calendar p strong.event-end-date,
#press-and-news #events-news-list .press-calendar p strong.event-start-date,
#press-and-news #events-news-list .press-calendar p strong.event-end-date {
    display: inline-block;
}
#press-and-news #events-news-list .events-calendar p em,
#press-and-news #events-news-list .press-calendar p em {
    display: block;
    font-size: 14px;
}
#press-and-news #events-news-list .events-calendar p strong,
#press-and-news #events-news-list .press-calendar p strong {
    font-size: 12px;
    color: #919cab;
    font-weight: 500;
}
#press-and-news #events-news-list .events-calendar p span.status,
#press-and-news #events-news-list .press-calendar p span.status {
    font-size: 11px;
    color: #cccccc;
    text-transform: uppercase;
}
.press #press-and-news .news .events-calendar,
.press #press-and-news .news .press-calendar,
#press-and-news #events-news-list .events-calendar,
#press-and-news #events-news-list .press-calendar  { display: block; padding: 0; margin: 0 -0.625em; margin-bottom: 1.875em !important; }
#masthead .content { border: none; }
.press #subnav,
.events #subnav { font-size: 16px; }

.page-template-template-events #masrhead
.press #masthead,
.events #masthead { font-size: 16px; padding: 2.25em 0 2.75em; }
.teal #subnav .title h4 { margin: 0.5em 0 0.75em; }

@media only screen and (min-width: 979px) {
   aside#press-sidebar {
      position: relative;
      padding-left: .9375em;
      padding-right: .9375em;
      max-width: 20%;
      left: 2.08333%;
      right: auto;
      float: left;
   }

   .press #press-and-news .news {
      position: relative;
      padding-left: .9375em;
      padding-right: .9375em;
      width: 50%;
      left: 2.08333% !important;
      right: auto;
      float: left;
   }

}

/* Sidebar */
#press-and-news #events-sidebar {
   padding: 0;
}

#press-and-news #events-sidebar ul {
   display: block;
   padding: 0;
   list-style-type: none;
   list-style-position: inside;
}

#press-and-news #events-sidebar ul li {
   border-bottom: solid 1px #edf0f3;
   font-size: .875em;
   position: relative;

}

#press-and-news #events-sidebar ul li a {
   background: #f9f9f9;
   display: block;
   padding: .75em .9375em;
   text-decoration: none;
   color: #e36e28;
}
