/*_____NEW BLOG STYLING_____*/

	
body.blog .container.template-blog .entry-content-wrapper h1.post-title.entry-title a,  body.archive .container.template-blog .entry-content-wrapper h1.post-title.entry-title a, body.single .container.template-blog .entry-content-wrapper h1.post-title.entry-title a {
    font-size: 34px;
    line-height: 38px;
	color:#444;
}
body.blog .container.template-blog .entry-content-wrapper h2.post-title.entry-title a,  body.archive .container.template-blog .entry-content-wrapper h2.post-title.entry-title a, body.single .container.template-blog .entry-content-wrapper h2.post-title.entry-title a {
	color:#444;
}
body.blog .container.template-blog .entry-content-wrapper h2.post-title.entry-title,  body.archive .container.template-blog .entry-content-wrapper h2.post-title.entry-title, body.single .container.template-blog .entry-content-wrapper h2.post-title.entry-title {
    margin-bottom: 15px;
}
.entry-content-wrapper .entry-content p {
    line-height: 1.75em;
    text-align: justify;
}
.entry-content-wrapper .entry-content h3 {
    color: #c55a7f;
    font-size: 18px;
    line-height: 1.5em;
    margin:25px 0;
}
.entry-content-wrapper .entry-content blockquote p {
    color:#999;
}
.entry-content-wrapper .entry-content ul {
    margin-top: 15px;
    line-height: 1.75em;
}
/*_____END NEW BLOG STYLING_____*/

.flex_column .avia_textblock ul li {
	list-style: disc;
}

.content{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    min-height: 1px;
    z-index: 1;
}
.vc_row {
    padding: 3.75em 0 3.75em;
}
.wpb_row{
    margin-bottom: 0px!important;
}

.cdnbench h2 {
    color: white!important;
}
.cdnbench h4 {
    color: white!important;
}
.subheader a{
	color:#00b2a9!important;
}
.wp-image-3571 {
    height: 361px;
}

.how-it-works h5 {
    background: url("images/32-bar-graph.png") no-repeat right 50%;
    border-bottom: solid 1px #edf0f3;
    margin-bottom: 0;
    padding: 12px 0;
}

ul.no-bullet {
    list-style: none!important;
}
.how-it-works ul.measurements li {
    padding: .375em .75em!important;
}

.how-it-works ul.measurements .amount {
    float: right!important;
}
.vc_custom_1452163225945 {

    background-position: right!important;
    background-repeat: no-repeat!important;
}
.vc_row.wpb_row.vc_row-fluid.custom-subheader.vc_custom_1452171113011 {
    max-width: 980px;
    width: 100%;
    margin: 0px auto;
}

nav.main_menu {
    width: auto!important;
}

#menu-item-search {
	position: absolute;
    right: 0;
    top: 14px;
}

body nav.main_menu .ubermenu {
    width: 577px;
    float: right;
}

@media only screen and (max-width: 969) {
	body nav.main_menu .ubermenu { display: none; }
} 


.search .page-heading-container {
	padding-bottom: 0;
	background-repeat: repeat;
    background-image: url(http://s3-eu-west-1.amazonaws.com/cdx-website-wp-media/wp-content/uploads/20160513155429/data1.png);
    background-attachment: scroll;
    background-position: top left;
    background-color: #00b2a9;
}

.search .search_form_field {
	max-width: 980px;
	margin: 0 auto;
	padding: 32px 50px;
	color: #fff;
}

.search .search_form_field h4{
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
}

.search .search_form_field p {
	display: none;
}

#top.search .search_form_field #s {
    padding: 20px 47px 17px 5px;
}

.search .template-search .pagination {
	    padding: 10px 0px 50px 0;
}

.ubermenu .ubermenu-custom-content-padded {
	padding-bottom: 0!important;
}

.ubermenu .ubermenu-custom-content-padded hr {
	margin-bottom: 0;
}

#after_full_slider_1 { display: none;} 
 
@media only screen and (max-width: 989px) {
 #full_slider_1 { display: none;} 
 #after_full_slider_1 { display: block;} 
}

body.lang-fr .ubermenu #menu-item-14361 .ubermenu-target,
body.lang-fr .ubermenu #menu-item-12777 .ubermenu-target {
	padding: 15px 0!important;
}

body.lang-fr nav.main_menu .ubermenu {
	width:683px!important;
}

body.lang-fr nav.main_menu .ubermenu > .ubermenu-target {
	padding-left: 15px!important;
}

.sidebar .widget_categories ul li a { background: none!important; }

/*Menu Font Size Adjustments*/

#top #header_main .ubermenu .ubermenu-target {
	padding-right: 13px;
    padding-left: 10px;
}

.ubermenu-sub-indicators .ubermenu-has-submenu-drop>.ubermenu-target:after {
	content: ''!important;
}

/* Author Archive */

.author .title_container .page-heading-container {
	border: none; 
	margin-bottom: 0;
    padding-bottom: 0;
}

.author .title_container .author-extra-border {
	border: none;
}

.author .title_container .rounded-container {
	margin-right: 20px;
}

.author .title_container  h3.author-title,
.author .title_container p {
	color: #fff;
}

.author .entry-author-link .vcard {
	border: none;
    padding: 0;
}